/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* 导航栏动画 */
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

/* texai logo */
.navbar .navbar-brand img {
    height: 35px;
}

.top-nav-collapse {
  background-color: #1C2331; }

/* 手机导航栏颜色 */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer 背景颜色 */
.page-footer {
  background-color: #1C2331; }
